@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Courses Info Web</h1>
    <p>You can now get the information about teams and players.</p>
    <a class="nav-link text-primary bg-warning" asp-area="" asp-controller="Courses" asp-action="Index">Go to Course Page</a><br />

    <a class="nav-link text-primary bg-warning" asp-area="" asp-controller="Categories" asp-action="Index">Go to Categories Page</a>
</div>
